Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url=https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
a) Rank
b) Name
c) Artist
d) Upload date
e) Views

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import ElementClickInterceptedException
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver= webdriver.Chrome(r"C:/Users/Suncity/Downloads/chromedriver_win32/chromedriver.exe")

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [6]:
#creating empty
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]
#scraping rank
rank=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
for i in rank:
    if i.text is None:
        Rank.append("--")
    else:
        Rank.append(i.text)
time.sleep(4)
#scraping name
name=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
for i in name:
    if i.text is None:
        Name.append("--")
    else:
        Name.append(i.text)
time.sleep(4)
artist=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
for i in artist:
    if i.text is None:
        Artist.append("--")
    else:
        Artist.append(i.text)
time.sleep(4)
upload_date=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
for i in upload_date:
    if i.text is None:
        Upload_date.append("--")
    else:
        Upload_date.append(i.text)
time.sleep(4)
view=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
for i in view:
    if i.text is None:
        Views.append("--")
    else:
        Views.append(i.text)

In [8]:
df=pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Upload_date':Upload_date,'Views(in billions)':Views})
df

,Rank,Name,Artist,Upload_date,Views(in billions)
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.93
1,2.,"""Despacito""[5]",Luis Fonsi,"January 12, 2017",7.68
2,3.,"""Johny Johny Yes Papa""[11]",LooLoo Kids,"October 8, 2016",6.07
3,4.,"""Shape of You""[12]",Ed Sheeran,"January 30, 2017",5.57
4,5.,"""See You Again""[14]",Wiz Khalifa,"April 6, 2015",5.37
5,6.,"""Bath Song""[19]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.81
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[20]",Miroshka TV,"February 27, 2018",4.54
7,8.,"""Masha and the Bear – Recipe for Disaster""[21]",Get Movies,"January 31, 2012",4.48
8,9.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.41
9,10.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",4.38
10,11.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.29
11,12.,"""Dame Tu Cosita""[29]",El Chombo,"April 5, 2018",3.78
12,13.,"""Sugar""[30]",Maroon 5,"January 14, 2015",3.62
13,14.,"""Sorry""[31]",Justin Bieber,"October 22, 2015",3.50
14,15.,"""Roar""[32]",Katy Perry,"September 5, 2013",3.49
15,16.,"""Counting Stars""[33]",OneRepublic,"May 31, 2013",3.47
16,17.,"""Wheels on the Bus""[34]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.45
17,18.,"""Thinking Out Loud""[35]",Ed Sheeran,"October 7, 2014",3.38
18,19.,"""Girls Like You""[36]",Maroon 5,"May 31, 2018",3.21
19,20.,"""Faded""[37]",Alan Walker,"December 3, 2015",3.20
20,21.,"""Dark Horse""[38]",Katy Perry,"February 20, 2014",3.20
21,22.,"""Axel F""[39]",Crazy Frog,"June 16, 2009",3.15
22,23.,"""Bailando""[40]",Enrique Iglesias,"April 11, 2014",3.14
23,24.,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.14
24,25.,"""Lean On""[42]",Major Lazer,"March 22, 2015",3.14
25,26.,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.13
26,27.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.05
27,28.,"""Baa Baa Black Sheep""[45]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.03
28,29.,"""Mi Gente""[46]",J Balvin,"June 29, 2017",3.02
29,30.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.02

Q2.Scrape the details team India's international fixtures from bcci.tv.
Url=https://www.bcci.tv/
You need to find following details:
a) Match title (i.e. 1st ODI)
b) Series
c)Place
d) Date
e) Time
Note:- From bcci.tv home page you have reach to the international fixture page through code.

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import ElementClickInterceptedException
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver= webdriver.Chrome(r"C:/Users/Suncity/Downloads/chromedriver_win32/chromedriver.exe")

In [3]:
driver.get("https://www.bcci.tv/")

In [12]:
button=driver.find_element_by_xpath('//button[@class="navbar-toggler menu-btn menu-icon"]')
button.click()

In [13]:
international=driver.find_element_by_xpath('/html/body/nav/div/div[2]/ul[1]/li[2]/a')
international.click()

In [14]:
more_search=driver.find_element_by_xpath("/html/body/div[3]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button")
more_search.click()

In [15]:
more_search=driver.find_element_by_xpath("/html/body/div[3]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button")
more_search.click()

In [18]:
#creating empty list
Match_title=[]
Date=[]
Place=[]
Tim=[]

match_title=driver.find_elements_by_xpath("//div[@class='fixture-card-top']/h5[2]/span")
for i in match_title:
    if i.text is None:
        Match_title.append("--")
    else:
        Match_title.append(i.text)
        
#time.sleep(4)

#scraping Date
date=driver.find_elements_by_xpath("//div[@class='fixture-card-top']/div[1]/div[1]")
for i in date:
    if i.text is None:
        Date.append("--")
    else:
        Date.append(i.text)
        
#time.sleep(4)

place=driver.find_elements_by_xpath("//div[@class='fixture-card-bottom']")
for i in place:
    if i.text is None:
        Place.append("--")
    else:
        Place.append(i.text)
        
#time.sleep(4)

tim=driver.find_elements_by_xpath("//div[@class='fixture-card-top']/div[1]/div[2]")
for i in tim:
    if i.text is None:
        Tim.append("--")
    else:
        Tim.append(i.text)

In [20]:
df=pd.DataFrame({'Match_title':Match_title,'Date':Date,'Place':Place,'time':Tim})
df

,Match_title,Date,Place,time
0,INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22,11 JAN 2022,"3rd Test - Newlands, Cape Town\nMatch Centre",2:00 PM IST
1,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,19 JAN 2022,"1st ODI - Boland Park, Paarl\nMatch Centre",2:00 PM IST
2,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,21 JAN 2022,"2nd ODI - Boland Park, Paarl\nMatch Centre",2:00 PM IST
3,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,23 JAN 2022,"3rd ODI - Newlands, Cape Town\nMatch Centre",2:00 PM IST
4,WEST INDIES TOUR OF INDIA ODI SERIES 2022,6 FEB 2022,"1st ODI - NARENDRA MODI STADIUM, Ahmedabad\nMa...",9:30 AM IST
5,WEST INDIES TOUR OF INDIA ODI SERIES 2022,9 FEB 2022,"2nd ODI - Sawai Mansingh Stadium, Jaipur\nMatc...",9:30 AM IST
6,WEST INDIES TOUR OF INDIA ODI SERIES 2022,12 FEB 2022,"3rd ODI - Eden Gardens, Kolkata\nMatch Centre",9:30 AM IST
7,WEST INDIES TOUR OF INDIA T20 SERIES 2022,15 FEB 2022,"1st T20I - Barabati Stadium, Cuttack\nMatch Ce...",7:30 PM IST
8,WEST INDIES TOUR OF INDIA T20 SERIES 2022,18 FEB 2022,2nd T20I - Dr YS Rajasekhara Reddy ACA-VDCA Cr...,7:30 PM IST
9,WEST INDIES TOUR OF INDIA T20 SERIES 2022,20 FEB 2022,"3rd T20I - Greenfield International Stadium, T...",7:30 PM IST
10,SRI LANKA TOUR OF INDIA TEST SERIES 2022,25 FEB 2022,"1st Test - M Chinnaswamy Stadium, Bengaluru\nM...",9:30 AM IST
11,SRI LANKA TOUR OF INDIA TEST SERIES 2022,5 MAR 2022,2nd Test - Punjab Cricket Association IS Bindr...,9:30 AM IST
12,SRI LANKA TOUR OF INDIA T20 SERIES 2022,13 MAR 2022,1st T20I - Punjab Cricket Association IS Bindr...,7:30 PM IST
13,SRI LANKA TOUR OF INDIA T20 SERIES 2022,15 MAR 2022,2nd T20I - Himachal Pradesh Cricket Associatio...,7:30 PM IST
14,SRI LANKA TOUR OF INDIA T20 SERIES 2022,18 MAR 2022,3rd T20I - Bharat Ratna Shri Atal Bihari Vajpa...,7:30 PM IST
15,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,9 JUN 2022,"1st T20I - MA Chidambaram Stadium, Chennai\nMa...",7:30 PM IST
16,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,12 JUN 2022,"2nd T20I - M Chinnaswamy Stadium, Bengaluru\nM...",7:30 PM IST
17,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,14 JUN 2022,3rd T20I - Vidarbha Cricket Association Stadiu...,7:30 PM IST
18,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,17 JUN 2022,4th T20I - Saurashtra Cricket Association Stad...,7:30 PM IST
19,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,19 JUN 2022,"5th T20I - Arun Jaitley Stadium, Delhi\nMatch ...",7:30 PM IST

Q3. Scrape the details of selenium exception from guru99.com.
Url=https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: From guru99 home page you have to reach to selenium exception handling page through code.

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import ElementClickInterceptedException
import warnings
warnings.filterwarnings('ignore')

In [3]:
driver= webdriver.Chrome(r"C:/Users/Suncity/Downloads/chromedriver_win32/chromedriver.exe")

In [4]:
driver.get("https://www.guru99.com/")

In [5]:
# getting link for selenium from home  page
se_link = driver.find_element_by_xpath('//ul[@id="java_technologies"]/li[3]/a').get_attribute('href')
driver.get(se_link)

In [8]:
# fetching exception handling page link
exc = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a').get_attribute('href')

In [9]:
driver.get(exc)

In [10]:
name=[]
desc=[]
# fetching exception 
for i in range(2,43):
    # name
    name_chk = driver.find_element_by_xpath('//table[@class="table table-striped"]/tbody/tr[{}]/td[1]'.format(i))
    name.append(name_chk.text)
    # description
    desc_chk = driver.find_element_by_xpath('//table[@class="table table-striped"]/tbody/tr[{}]/td[2]'.format(i))
    desc.append(desc_chk.text)

In [12]:
df=pd.DataFrame({'Name':name,'Description':desc})
df

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

Q4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url=http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP
D) Share
E) In GDP
Note:-From statisticstimes home page you have to reach to economy page through code.

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import ElementClickInterceptedException
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver= webdriver.Chrome(r"C:/Users/Suncity/Downloads/chromedriver_win32/chromedriver.exe")

In [3]:
driver.get("https://www.statisticstimes.com/")

In [9]:
economy=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button")
economy.click()

In [10]:
india=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
india.click()

In [11]:
GDP_indian_states=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
GDP_indian_states.click()

In [15]:
#creating empty list
Rank=[]
State=[]
GSDP=[]
Gdp=[]
Share=[]
for i in range(1,34):
    # fetching rank
    rank = driver.find_element_by_xpath('//div[@class="dataTables_wrapper"]/table[1]/tbody/tr[{}]/td[1]'.format(i))
    Rank.append(rank.text)
    # fetching state
    state = driver.find_element_by_xpath('//div[@class="dataTables_wrapper"]/table[1]/tbody/tr[{}]/td[2]'.format(i))
    State.append(state.text)
    #fetching GSDP
    gsdp = driver.find_element_by_xpath('//div[@class="dataTables_wrapper"]/table[1]/tbody/tr[{}]/td[3]'.format(i))
    GSDP.append(gsdp.text)
    #fetching gdp
    gdp = driver.find_element_by_xpath('//div[@class="dataTables_wrapper"]/table[1]/tbody/tr[{}]/td[6]'.format(i))
    Gdp.append(gdp.text)
    #fetching share
    share = driver.find_element_by_xpath('//div[@class="dataTables_wrapper"]/table[1]/tbody/tr[{}]/td[5]'.format(i))
    Share.append(share.text)

In [17]:
df=pd.DataFrame({'Rank':Rank,'State':State,'GSDP(Cr in INR)(19-20)':GSDP,'Share':Share,'Gdp(in_billions)':Gdp})
df

,Rank,State,GSDP(Cr in INR)(19-20),Share,Gdp(in_billions)
0,1,Maharashtra,-,13.94%,399.921
1,2,Tamil Nadu,"1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818",8.39%,240.726
3,4,Gujarat,-,7.96%,228.290
4,5,Karnataka,"1,631,977",7.91%,226.806
5,6,West Bengal,"1,253,832",5.77%,165.556
6,7,Rajasthan,"1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"972,782",4.57%,131.083
8,9,Telangana,"969,604",4.56%,130.791
9,10,Madhya Pradesh,"906,672",4.29%,122.977
10,11,Kerala,-,4.14%,118.733
11,12,Delhi,"856,112",4.10%,117.703
12,13,Haryana,"831,610",3.89%,111.519
13,14,Bihar,"611,804",2.81%,80.562
14,15,Punjab,"574,760",2.79%,79.957
15,16,Odisha,"521,275",2.58%,74.098
16,17,Assam,-,1.67%,47.982
17,18,Chhattisgarh,"329,180",1.61%,46.187
18,19,Jharkhand,"328,598",1.57%,45.145
19,20,Uttarakhand,-,1.30%,37.351
20,21,Jammu & Kashmir,-,0.83%,23.690
21,22,Himachal Pradesh,"165,472",0.81%,23.369
22,23,Goa,"80,449",0.39%,11.115
23,24,Tripura,"55,984",0.26%,7.571
24,25,Chandigarh,-,0.22%,6.397
25,26,Puducherry,"38,253",0.18%,5.230
26,27,Meghalaya,"36,572",0.18%,5.086
27,28,Sikkim,"32,496",0.15%,4.363
28,29,Manipur,"31,790",0.15%,4.233
29,30,Nagaland,-,0.14%,4.144
30,31,Arunachal Pradesh,-,0.13%,3.737
31,32,Mizoram,"26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-

Q5. Scrape the details of trending repositories on Github.com.
Url= https://github.com/
You have to find the following details:
a) Repository title
b) Repository description
c) Contributors count
d) Language used
Note:- From the home page you have to click on the trending option from Explore menu through code.

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import ElementClickInterceptedException
import warnings
warnings.filterwarnings('ignore')
# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

In [2]:
driver= webdriver.Chrome(r"C:/Users/Suncity/Downloads/chromedriver_win32/chromedriver.exe")

In [3]:
driver.get(" https://github.com/")

In [4]:
explore=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/button")

In [5]:
explore.click()

In [8]:
element=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
element.click()

In [9]:
trending=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
trending.click()

In [13]:
# Creating empty list
urls=[]
title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]
time.sleep(2)

#scraping url
url_1 = driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[1]/h1/a")
for i in url_1:
    urls.append(i.get_attribute('href'))

time.sleep(4)


for a in urls:
    driver.get(a)
    #for scrapping the Repository_title
    title_chk= driver.find_elements_by_xpath("/html/body/div[4]/div/main/div[1]/div[1]/div/h1/span[1]/a")
    try:
        title.append(title_chk.text)
    except NoSuchElementException:
        title.append('-')
    time.sleep(4)
    repository_description=driver.find_element_by_xpath("//h1[@class='h3 lh-condensed']/p")
    try:
        Repository_description.append(repository_description.text)
    except NoSuchElementException:
        Repository_description.append('-')
    time.sleep(4)
    contributors_count=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[1]/div[2]/span[2]")
    try:
        Contributors_count.append(contributors_count.text)
    except NoSuchElementException:
        Contributors_count.append('-')
    
        
        
#Combining all the lists into a single dataframe
df=pd.DataFrame({'Repository_title': title,
                'Repository_description': Repository_description})
               
df

AttributeError: 'list' object has no attribute 'text'

In [22]:
df

Empty DataFrame
Columns: [Repository_title, Repository_description]
Index: []

In [12]:
urls

[]

In [18]:
title

[]

Q6. Scrape the details of top 100 songs on billiboard.com.
Url=https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note:- From the home page you have to click on the chart option then hoyt 100 page link through code

In [2]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import ElementClickInterceptedException
import warnings
warnings.filterwarnings('ignore')

In [3]:
driver= webdriver.Chrome(r"C:/Users/Suncity/Downloads/chromedriver_win32/chromedriver.exe")

In [4]:
driver.get(" https:/www.billboard.com/")

In [5]:
search=driver.find_element_by_xpath("/html/body/div[4]/header/div[1]/div/div/div[1]/button")
search.click()

In [6]:
charts=driver.find_element_by_xpath("/html/body/div[4]/div[6]/div/div/div/ul/li[1]/h3/a")
charts.click()

In [7]:
Hot=driver.find_element_by_xpath("/html/body/div[4]/header/div[2]/div/nav/ul/li[1]/a")
Hot.click()

In [9]:
#creating empty list
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

# fetching Song_name
song_name = driver.find_elements_by_xpath('//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/h3[1]')
for i in song_name:
    if i.text is None :
        Song_name.append("--") 
    else:
        Song_name.append(i.text)

time.sleep(3)        

# fetching Artist_name
artist_name = driver.find_elements_by_xpath('//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/span')
for i in artist_name:
    if i.text is None :
        Artist_name.append("--") 
    else:
        Artist_name.append(i.text)
        
time.sleep(3)  

#fetching Last_week_rank
last_week_rank = driver.find_elements_by_xpath('//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]/span')
for i in last_week_rank:
    if i.text is None :
        Last_week_rank.append("--") 
    else:
        Last_week_rank.append(i.text)
        
time.sleep(3)  
#fetching Peak_rank
peak_rank = driver.find_elements_by_xpath('//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]/span')
for i in peak_rank:
    if i.text is None :
        Peak_rank.append("--") 
    else:
        Peak_rank.append(i.text)
        
time.sleep(3)  
#fetching Weeks_on_board
weeks_on_board = driver.find_elements_by_xpath('//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[6]/span')
for i in weeks_on_board:
    if i.text is None :
        Weeks_on_board.append("--") 
    else:
        Weeks_on_board.append(i.text)

In [10]:
#Combining all the lists into a single dataframe
df=pd.DataFrame({'Song_name': Song_name,
                'Artist_name': Artist_name,
               'Last_week_rank': Last_week_rank,
                'Peak_rank': Peak_rank,
                'Weeks_on_board': Weeks_on_board})
df

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,All I Want For Christmas Is You,Mariah Carey,1,1,51
1,Easy On Me,Adele,5,1,12
2,Rockin' Around The Christmas Tree,Brenda Lee,2,2,45
3,Jingle Bell Rock,Bobby Helms,3,3,42
4,A Holly Jolly Christmas,Burl Ives,4,4,26
...,...,...,...,...,...
95,Beers On Me,"Dierks Bentley, Breland & HARDY",-,96,1
96,Already Dead,Juice WRLD,88,20,6
97,No Love,Summer Walker & SZA,98,13,8
98,23,Sam Hunt,-,99,1
99,Family Ties,Baby Keem & Kendrick Lamar,100,18,18

Q7. Scrape the details of Data science recruiters from naukri.com.
Url=https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note:- From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code.

In [21]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import ElementClickInterceptedException
import warnings
warnings.filterwarnings('ignore')

In [22]:
driver= webdriver.Chrome(r"C:/Users/Suncity/Downloads/chromedriver_win32/chromedriver.exe")

In [23]:
driver.get(" https://www.naukri.com/data-science-recruiters-in-delhi-ncr")

In [31]:
#creating empty list
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]
# fetching Name
name = driver.find_elements_by_xpath('//p[@class="highlightable"]/a[1]/span')
for i in name:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)

time.sleep(3)        

# fetching Designation
designation = driver.find_elements_by_xpath('//p[@class="highlightable"]/span[1]')
for i in designation:
    if i.text is None :
        Designation.append("--") 
    else:
        Designation.append(i.text)
        
time.sleep(3)  

#fetching Company
company = driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
for i in company:
    if i.text is None :
        Company.append("--") 
    else:
        Company.append(i.text)
        
time.sleep(3)  
#fetching Skills
skills = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for i in skills:
    if i.text is None :
        Skills.append("--") 
    else:
        Skills.append(i.text)
        
time.sleep(3)  
#fetching Location
location = driver.find_elements_by_xpath('//p[@class="highlightable"]/span[2]')
for i in location:
    if i.text is None :
        Location.append("--") 
    else:
        Location.append(i.text)
nxt_button=driver.find_elements_by_xpath("//button[@class='grayBtn']")#scraping the list of buttons from the page

In [32]:
#Combining all the lists into a single dataframe
df=pd.DataFrame({'Name': Name,
                'Designation': Designation,
               'Company': Company,
                'Skills': Skills,
                'Location': Location})
df

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,Vasundhara Kaul,Company Recruiter,Bharti Airtel Limited,"Data Analysis, Data Science, Predictive Modeli...",Gurgaon
2,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
3,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
4,Rajni,Team Leader HR Operations,Red Ore Services Pvt Ltd.,"Analytics, Machine Learning, Data Science, Etl...",Delhi
5,Rajpal Tyagi,Managing Director,Gelegenheit Management Private Limited,"Cryptography, Big Data, Data Science, Blockchain",Delhi
6,Urvi Kumar,Talent Recruiter,Augment Systems Pvt Ltd,"Content Writing, research, Software Services, ...",Delhi
7,Sanchit Garg,Strategy Consultant,dDriven Data Sciences &amp; Analytics Pvt....,Not Specified,Gurgaon
8,Mamta rawat,Technical Recruiter,antrix academy of Data Science,Not Specified,Noida
9,Mamta Rawat,Technical Recruiter,Antrix Academy of Data Science,Not Specified,Noida
10,Aneela,Management Head,DataStunt,"Freelance Recruitment, Big Data Analytics, Dat...",Delhi
11,Priyanka Balodi,HR Analyst,KnowDis Data Science LLP,Data Science,Delhi
12,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
13,Animesh Choudhuri,Head Recruitment,Swiftonne Logistics Solutions Pvt. Ltd.,"Data Analytics, Data Science, Python, Advanced...",Gurgaon
14,Jamil Akhtar,Company Recruiter,Quikkloan,Not Specified,Delhi
15,Arabinda Das,Head Service Delivery Business Operation,Brainsearch Consulting,"Sap Basis, sap basis consultant, Magento, Word...",Noida
16,Charu Jindal,Assistant Manager,EYGBS (India) Private Limited,"Data Science, finance, analytics, Information ...",Gurgaon
17,Deepak Kumar Tyagi,Recruiter,Success pact IT Consulting,"Ui Development, Front End, Java, Javascript, P...",Noida
18,Rajeev,Founder,SimplyPeople.in,"Human Resource Management, Sales, Marketing, B...",Delhi
19,Kajal Yadav,HR Manager,Zvesta.com,"Backend, Communication Skills, Operations, Tel...",Gurgaon
20,kanika mishra,Corporate Recruiter,Opera Solutions,"Java, Linux, etl, Data Modelling, Data Warehouse",Delhi
21,Pallavi Kashyap,Manager,Nacre,"Big Four, Consulting Firms, Fortune 100 Organi...",Delhi
22,Leafy Creatives Solutions,HR,Leafy Creatives Solutions,"Java, Big Data, Mobile Application Development...",Gurgaon
23,Kusum Gaur,Recruitment Associate,Microsoft Corporation,"Mobile Application Development, Atg Developer,...",Gurgaon
24,neena,Sr Talent Acquisition Specialist,Evolution HR Services Pvt Ltd,"Ruby Rails, mvc, coding, javascript, css, ios,...",Delhi
25,Shikha Bakshi,Senior Manager Recruitment,Fractal Analytics!!,"Analytics, Big Data, Hadoop, Python",Gurgaon
26,TSD Corporation,Manager,TSD Corp,"social media marketing, Content Writing, Socia...",Delhi
27,Charu Sethi,Assistant Manager Talent Acquisition,Guavus Network Systems,"Data Scientist, System Testing, Automation Tes...",Gurgaon
28,Rishabh Aggarwal,Lead recruiter,SuccessPact consulting,Startup,Gurgaon
29,Talent Scout,Company HR,Super Highway Labs Private Limited...,Not Specified,Gurgaon
30,Pooja Falwariay,Talent Acquisition Specialist,"OYO Rooms, Oravel Stays Private Limited","sales executive activities, Management Interac...",Gurgaon
31,Shankar maghaiya,HR Manager,Reliance,"Software Development, Java, Coding, Unit Testi...",Delhi
32,Abhishek,Recruiter,EQ Solutions,"Technical Sales, Antivirus",Noida
33,Garima Neb,Sr HR Associate,Fruition Consultants Pvt. Ltd.,TOP NOTCH CLIENTS,Delhi
34,Sneha Singh,HR Manager,Tata Consultancy Services,"Lead Generation, Direct Sales, New Business, C...",Delhi
35,Sakhi Sharma,Senior HR Executive,HCL,"Software Development, Java, Coding, Customer E...",Noida
36,JobGully,Recruitment and Staffing Consultant,JobGully (India),"Java, Core Java, Php, .Net, Asp, Big Data, Con...",Delhi
37,shailendra soni,Recruitment lead,Airtel,"Software Development, Java, Coding, Unit Testi...",Delhi
38,Monika Tyagi,Talent Acquisition Specialist,Red Rock,Manager Level,Delhi
39,ESS CEE HR SOLUTIONS,Proprietor,ESS CEE HR SOLUTIONS,Not Specified,Noida
40,Prateek Singh,Associate,Impendi Analytics,"Analytics, Data Analysis, Market Research, Pyt...",Delhi
41,Arman,HR &amp; Administration Executive,SharpTech Global,"Big Data, Front End, Backend, Database Adminis...",Delhi
42,Ritu,Head Customer Success,HR Consulting Firm,"Programmer Software Developer, IT Software Ser...",Noida
43,Jyotsna Ahuja,Company HR,DecisionTree Analytics and Services Private,Not Specified,Gurgaon
44,OP Chawla,DIRECTOR,SOFTTECH CAREER INFO SYSTEM PVT. LTD,Not Specified,Faridabad
45,Mr. Ajit Pratap Singh,Business- Head &amp; Director,Ikon Staffing Solutions Pvt. Ltd.,"Customer Analytics, Data Visualization, Data S...",Delhi
46,Devika,HR Consultant,Mirus Consulting,"Logic Eastern, Kvantum, Venera Technologies",Noida
47,jamal ahmad,Sr Manager HR,FAREPORTAL,"Asp.net, C#, Visual Studio, .net Architecture,...",Gurgaon
48,Rachita,HR Recruiter,Clearway Advisors,Not Specified,Delhi
49,PacsysHire,Founder,PacsysHire,Not Specified,Delhi

Q8.Scrape the details of Highest selling novels.
Url= https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
1)Book_name
2)Author_name
3)Volume_sold
4)Publisher
5)Genre

In [2]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import ElementClickInterceptedException
import warnings
warnings.filterwarnings('ignore')

In [3]:
driver= webdriver.Chrome(r"C:/Users/Suncity/Downloads/chromedriver_win32/chromedriver.exe")

In [4]:
driver.get(" https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [5]:
#creating empty list
Book_name=[]
Author_name=[]
Volume_sold=[]
Publisher=[]
Genre=[]
for i in range(1,101):
    # fetching Book_name
    book_name = driver.find_element_by_xpath('//table[@class="in-article sortable"]/tbody/tr[{}]/td[2]'.format(i))
    Book_name.append(book_name.text)
    # fetching Author_name
    author_name = driver.find_element_by_xpath('//table[@class="in-article sortable"]/tbody/tr[{}]/td[3]'.format(i))
    Author_name.append(author_name.text)
    #fetching Volume_sold
    volume_sold = driver.find_element_by_xpath('//table[@class="in-article sortable"]/tbody/tr[{}]/td[4]'.format(i))
    Volume_sold.append(volume_sold.text)
    #fetching Publisher
    publisher = driver.find_element_by_xpath('//table[@class="in-article sortable"]/tbody/tr[{}]/td[5]'.format(i))
    Publisher.append(publisher.text)
    #fetching Genre
    genre = driver.find_element_by_xpath('//table[@class="in-article sortable"]/tbody/tr[{}]/td[6]'.format(i))
    Genre.append(genre.text)

In [6]:
#Combining all the lists into a single dataframe
df=pd.DataFrame({'Book_name': Book_name,
                'Author_name': Author_name,
               'Volume_sold': Volume_sold,
                'Publisher': Publisher,
                'Genre': Genre})
df

,Book_name,Author_name,Volume_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q9. Scrape the details most watched tv series of all time from imdb.com.
Url=https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year_span
c) Genre
D) Run_time
E) Ratings
F) Votes

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import ElementClickInterceptedException
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver= webdriver.Chrome(r"C:/Users/Suncity/Downloads/chromedriver_win32/chromedriver.exe")

In [3]:
driver.get("https://www.imdb.com/list/ls095964455/ ")

In [ ]:
#creating empty list
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]
# fetching Name
name = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for i in name:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)
        
time.sleep(3)  
# fetching Year_span
year_span = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/span[2]')
for i in year_span:
    if i.text is None :
        Year_span.append("--") 
    else:
        Year_span.append(i.text)
        
time.sleep(3)  
#fetching Genre
genre = driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[1]/span[5]')
for i in genre:
    if i.text is None :
        Genre.append("--") 
    else:
        Genre.append(i.text)
        
time.sleep(3)  
#fetching Run_time
run_time = driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[1]/span[3]')
for i in run_time:
    if i.text is None :
        Run_time.append("--") 
    else:
        Run_time.append(i.text)
        
time.sleep(3)  
#fetching Ratings
ratings = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span[2]')
for i in ratings:
    if i.text is None :
        Ratings.append("--") 
    else:
        Ratings.append(i.text)
        
time.sleep(3)  
#fetching Votes
votes = driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[4]/span[2]')
for i in votes:
    if i.text is None :
        Votes.append("--") 
    else:
        Votes.append(i.text)

In [8]:
#Combining all the lists into a single dataframe
df=pd.DataFrame({'Name': Name,
                'Year_span': Year_span,
               'Genre': Genre,
                'Run_time': Run_time,
                'Ratings': Ratings,
                'Votes':Votes})
df

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,925,561"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"948,415"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"920,565"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"275,718"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"236,016"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,064"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,841"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"182,546"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"38,142"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"217,185"

Q10. Details of Datasets from UCI machine learning repositories.
Url= https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset_name
B) Data_type
C) Task
D) Attribute_type
E) No_of_instances
F) No_of_attribute
G) Year
Note: from the home page you have to go to the Show AllDataset page through code.

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import ElementClickInterceptedException
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver= webdriver.Chrome(r"C:/Users/Suncity/Downloads/chromedriver_win32/chromedriver.exe")

In [3]:
driver.get(" https://archive.ics.uci.edu/ ")

In [4]:
view=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
view.click()

In [9]:
#creating empty list
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]


# fetching Data_type
data_type = driver.find_elements_by_xpath('//table[@cellpadding="5"][1]/tbody/tr/td[2]/p')
for i in data_type:
    if i.text is None :
        Data_type.append("--") 
    else:
        Data_type.append(i.text)
        
time.sleep(3)

#fetching Task
task = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
for i in task:
    if i.text is None :
        Task.append("--") 
    else:
        Task.append(i.text)
        
time.sleep(3)  
#fetching Attribute_type
attribute_type = driver.find_elements_by_xpath('//table[@cellpadding="5"][1]/tbody/tr/td[4]/p')
for i in attribute_type:
    if i.text is None :
        Attribute_type.append("--") 
    else:
        Attribute_type.append(i.text)
        
time.sleep(3)  
#fetching No_of_instances
no_of_instances = driver.find_elements_by_xpath('//table[@cellpadding="5"][1]/tbody/tr/td[5]/p')
for i in no_of_instances: 
    if i.text is None :
        No_of_instances.append("--") 
    else:
        No_of_instances.append(i.text)
        
time.sleep(3)  
#fetching No_of_attribute
no_of_attribute= driver.find_elements_by_xpath('//table[@cellpadding="5"][1]/tbody/tr/td[6]/p')
for i in no_of_attribute:
    if i.text is None :
        No_of_attribute.append("--") 
    else:
        No_of_attribute.append(i.text)
time.sleep(3)
#fetching Year
year= driver.find_elements_by_xpath('//table[@cellpadding="5"][1]/tbody/tr/td[7]/p')
for i in year:
    if i.text is None :
        Year.append("--") 
    else:
        Year.append(i.text)

In [11]:
# fetching Dataset_name
Dataset_name=[]
dataset_name = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]")
for i in dataset_name:
    if i.text is None :
        Dataset_name.append("--") 
    else:
        Dataset_name.append(i.text)

In [13]:
#Combining all the lists into a single dataframe
df=pd.DataFrame({'Dataset_name':Dataset_name,'Data_type': Data_type, 
               'Task': Task,
                'Attribute_type': Attribute_type,
                'No_of_instances': No_of_instances,
                'No_of_attribute':No_of_attribute,'Year':Year})
                

                
df

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
618,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
619,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
620,Maternal Health Risk Data Set,,Classification,,1014,7,2020
621,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
622,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021